<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="UrmahCS" connectionString="server=sashimiroll.wifidelity.local;user id=sa;pwd=?giddle?;database=ProPurchaser_20080211;MultipleActiveResultSets=True"></add>
	</connectionStrings>

  <system.web>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="true">
		</compilation>
		
    <membership defaultProvider="UrmahTest">
			<providers>
        <clear/>
				<add name="UrmahTest" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="UrmahCS" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/Propurchaser" requiresUniqueEmail="false" minRequiredPasswordLength="2" minRequiredNonalphanumericCharacters="0" passwordFormat="Hashed" maxInvalidPasswordAttempts="999" passwordAttemptWindow="10" passwordStrengthRegularExpression=""></add>
			</providers>
		</membership>

    <profile defaultProvider="MyProfileProvider">
      <providers>
        <add name="MyProfileProvider" connectionStringName="UrmahCS" applicationName="/Propurchaser" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"></add>
      </providers>
      <properties>
        <add name="UserID" type="System.Int32" serializeAs="String" readOnly="false"></add>
        <add name="LastCommodityId" type="System.Int32"></add>
        <add name="LastSellingPriceModelId" type="System.Int32"></add>
      </properties>
    </profile>

    <roleManager defaultProvider="DevelopRoles" enabled="true" domain="ProP" cookieTimeout="500" cookieSlidingExpiration="true">
      <providers>
        <add name="DevelopRoles" type="System.Web.Security.SqlRoleProvider" connectionStringName="UrmahCS" applicationName="/Propurchaser"></add>
      </providers>
    </roleManager>

    <httpHandlers>      
      <add verb="*" path="urmah.ashx" type="Urmah.UserAndRolePageFactory, Urmah" />
		</httpHandlers>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
      <add verb="*" path="urmah.ashx" type="Urmah.UserAndRolePageFactory, Urmah" />
		</handlers>
	</system.webServer>
</configuration>
