body
{
    font-family: Verdana;
    font-size: 70%;
    background-color: #fff;
}

a
{
    color: #0033CC;
}


a:visited
{
    color: Navy;
}

a:hover
{
    color: #FF6600;
}

img 
{
    border: none;
}


h1
{
    font-family: Verdana;
    font-weight: normal;
    color: #0A6CCE;
    font-size: 175%;
}

table
{
    width: 100%;
    border-collapse: collapse;
}

td
{
    border: solid 1px silver;
    padding: 0.4em;
    vertical-align: top;
}

th
{
    text-align: left;
    background-color: #0A6CCE;
    padding: 0.4em;
    color: White;
    vertical-align: top;
    border: solid 1px silver;
}

.even-row
{
}

.odd-row
{
    background-color: #e9e9e9;
}

#SpeedList 
{
    margin: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 80%;
    padding: 0.25em 0;
    color: #fff;
    background-color: #aaa;
    border-top: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
}

#SpeedList a
{
    text-decoration: none;    
    padding: 0.25em 1em;
    border: solid 1px #aaa;
    border-right: solid 1px #fff;
    color: #fff;
}

#SpeedList a:hover
{
    background-color: #fff;
    color: #444;
    border: solid 1px #aaa;
}

#SpeedList li
{
    display: inline;
}

.control-panel-block
{
	 border: solid 1px #F0F0F0;
	 background-color: #FAFAFA;
	 border-top-style: none;
	 margin-top: 10px;
	 padding: 10px;
	line-height: 180%;
}

.control-panel-block h2
{
	background-color: #0A6CCE;
    font-weight: bold;
    color: White;
    font-size: 120%;
	margin: -10px -10px 10px -10px;
	padding: 3px 0 3px 6px;
	line-height: normal;
}

.control-panel-block p 
{
	margin-top: 0;
	line-height: normal;
}

.lockout-col
{
	text-align: center;
}

img.online 
{
	background: transparent url(GenericIcons) no-repeat scroll 0px 0px;
	height: 16px;
	width: 16px;
}

img.offline 
{
	background: transparent url(GenericIcons) no-repeat scroll -60px 0px;
	height: 16px;
	width: 16px;
}

img.active 
{
	background: transparent url(GenericIcons) no-repeat scroll 0px 0px;
	height: 16px;
	width: 16px;
}

img.locked-out
{
	background: transparent url(GenericIcons) no-repeat scroll -20px 0px;
	height: 16px;
	width: 16px;
}

img.add
{
	background: transparent url(GenericIcons) no-repeat scroll 0px -60px;
	height: 16px;
	width: 16px;
}

.column 
{
	float:left;
}

#DetailsView
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#DetailsView h2 
{
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    color: #0A6CCE;
	margin: 10px 0 0 0;
	padding: 0;
	
}

#DetailsView table 
{
	width: auto;
}

#DetailsView td 
{
	border: none;
}

.field-caption
{
	font-weight: bold;
}

#DetailsView .box 
{
	border: 1px solid #F0F0F0;
	background-color: #FAFAFA;
	height: auto !important;
	min-height: 88px;
}

#DetailsView .column 
{
	width: 28%;
}

.action-bar 
{
	padding: 0 0 0 0.4em;
}

table.form td
{
	vertical-align: middle;
}

.controls 
{
	padding : 1em 0 0 0;
}

.controls img 
{
	vertical-align: middle;
}

.controls .success, .controls .failure
{
	margin: 0 0 1em 0;
	font-weight: bold;
}

.controls .success
{
	color: #006600;
}

.controls .failure
{
	color: Red;	
}

table#RoleList
{
	width: auto;
}

td.members-col
{
	text-align: right;
}